/* font-family: 'Roboto', sans-serif;
font-family: 'Vina Sans', cursive; */
*{
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
h1 {
    color: #1f3960;
    font-family: 'Roboto', sans-serif;

}

body {
    //background-color: rgb(255, 240, 199);
    background: linear-gradient(to bottom left, rgb(31, 57, 96) ,#ff8000 65%);
}
footer {
    color: white;
    background-color: rgb(31, 57, 96);

}

// Logo de Icono de navBar
.logo{
    width: 7vh;
  
}
.logo:hover {

  transform: rotatey(180deg) scale(1.5);
  transition: transform 1s;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(90%) brightness(300%);
    
  }

// No se usa
  //   .contenedorCarousel {
//     width: 40%;
//   }


  .colorH2 {
    color:rgb(31, 57, 96);
    
  }

  .bg-azul {
    background-color:rgb(31, 57, 96) ;
    color: white
  }
  
  .bg-azul:hover{
    background-color:aqua ;
    color: black
  } 

  .navbar-custom {
    
    background: linear-gradient(to bottom left, rgb(31, 57, 96) ,#ff8000 65%);
}

.nav-link{
    color:white;
}

article:hover {
    transform: scale(1.1);
    background-color: rgba(162, 165, 170, 0.979);
}