
// ---MIXIN´S
@mixin botones($bg-color, $borde-color, $txt-color, $hover-bg-color, $hover-txt-color, $active-bg-color, $active-txt-color) {
  background-color: $bg-color;
  border-color: $borde-color;
  color: $txt-color;
  
  &:hover {
    background-color:$hover-bg-color;
    color: $hover-txt-color;
    }
  
    &:hover:active {
      background-color: $active-bg-color;
      color: $active-txt-color;
    }
}


.btn-azul {
  @include botones ($color-azul, $color-blanco, $color-blanco, $color-aqua, $color-negro, $color-verde-amarillo, $color-negro);

}

.btn-comprar {
  
  @include botones($color-blanco, $color-negro, $color-negro, $color-aqua, $color-negro, $color-verde-amarillo, $color-negro);
  box-shadow: 5px 2px 10px 5px rgba(0,0,0,0.59);
}





